nav {
  background-color: #1e1e1e;
  position: relative;
}

.links-nav {
  text-decoration: none;
  color: #ccc;
}

.active {
  color: #123456;
}

.hover {
  text-decoration: underline;
}

.margin-left {
  margin-left: auto;
  margin-right: 50px;
}
