.cont-bg {
  background-color: #ba55d3;
}

.col-size {
  height: 12rem;
}

.search-country {
  width: 100%;
  background-color: transparent;
  border: none;
}

.search-country::placeholder {
  color: #ccc;
}
